<div id="home-container">

    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        </a>
    </script>

    <div id="home-header">
        <div class="header-background">
            <div class="center-wrapper transparent">
                <div class="header-padding center-child">
                    <div class="col-sm-9">
                        <h1 class="bold text-white">Combining talent with the opportunities..</h1><br>
                        <!--<div class="searchbox-holder">
                            <form name="search-form">
                                <div class="search-box flex-container">
                                    <div class='col-sm-4'>
                                        <input type="text" ng-model="skill" placeholder="Skill or Designation" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
                                        <span class="caret caret-position"></span>
                                    </div>
                                    <div class='col-sm-3'>
                                        <input type="text" ng-model="location" placeholder="Location" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
                                        <span class="caret caret-position"></span>
                                    </div>
                                    <div class='col-sm-3'>
                                        <input type="text" ng-model="experience" placeholder="Experience" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
                                        <span class="caret caret-position"></span>
                                    </div>
                                    <div class='col-sm-2'>
                                        <input type="text" ng-model="salary" placeholder="Salary" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
                                        <span class="caret caret-position"></span>
                                    </div>
                                    <div class="submit-container">
                                        <button type="submit" class="btn btn-custom-settings">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>-->
                    </div>
                    <!--<div class="col-sm-3 text-center">
                        <div class="new-usertype-wrapper">
                            <div class="small-title">Register with us</div><br>
                            <div>
                                <a class="btn btn-rounded btn-red full-width btn-custom-settings" href="/jobseeker/new">Jobseeker</a>
                            </div><br>
                            <div>
                                <a class="btn btn-rounded btn-red full-width btn-custom-settings" href="/recruiter/new">Recruiter</a>
                            </div><br>
                            <div>We will create your profile</div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div><br><br>

    <form novalidate id="update-vacancy-form" name="updateVacancyForm">

        <div class="form-group">
            <div class="label-wrapper col-sm-3">
                <label class="control-label" for="sub_level">You are looking for</label>
            </div>
            <div class="input-group-wrapper col-sm-9">
                <div class="input-group">
                    <div class="btn-group">
                        <label class="radio-inline">
                            <input ng-model="editedSubject.subject_type" ng-change="levelChanged(1)" value="1"
                                   type="radio" name="sub_level" >Coaching Level
                        </label>
                        <label class="radio-inline">
                            <input ng-model="editedSubject.subject_type" ng-change="levelChanged(2)" value="2"
                                   type="radio" name="sub_level" >School Level
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="label-wrapper col-sm-3">
                <label class="control-label" for="sub_subject">Choose Subject</label>
            </div>
            <div class="input-group-wrapper col-sm-9">
                <div class="input-group full-width">
                    <!-- Single button -->
                    <select ng-model="editedSubject.subject_id" name="sub_subject" class="form-control">
                        <option disabled selected value> -- Choose the subject you are about to edit -- </option>
                        <option ng-repeat="subject in subjectsList" value="{{subject.subject_id}}" >
                            {{subject.subject_name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="label-wrapper col-sm-3">
                <label class="control-label" for="sub_vacancies">Vacancies</label>
            </div>
            <div class="input-group-wrapper col-sm-9">
                <div class="input-group full-width">
                    <input ng-model="editedSubject.subject_vacancies" class="form-control"
                           placeholder="Number of vacancies currently" name="sub_vacancies" type="number" />
                </div>
            </div>
        </div><br><br>

        <div class="submit-container flex-container-center">
            <button id="update-vacancies-submit" type="submit" class="btn btn-width-70 btn-custom-settings">Update Vacancies</button><br><br>
        </div><br>

        <div class="form-group flex-container-center">
            <p>Click <a href="/admin/add">here</a> to add a subject</p>
        </div><br>

        </form>

    <div id="about-us" class="text-white slide-120 aboutus-back">
        <div class="center-wrapper">
            <div class="center-child body-wrapper text-center">
                <div class="display-inilne-block">
                    <div class="title">About Us</div>
                    <div class="separator-line-thick-white"></div>
                </div><br><br>
                <div class="content text-justify">
                    <p>FacultyNaukri is India’s first leading online solution for all educational institution and job seekers in the educational sector. We have a team of dynamic professionals with working experience in the industry.We at FacultyNaukri believe in ensuring a valuable service quality. We strongly believe in building a value of trust, honesty, and transparency with our clients so as to develop a strong and long term relation. FacultyNaukri collaboratively partners with you to build develop and strengthen your team by assessing and identifying your needs and challenges. FacultyNaukri differentiation is in its focused business model and its specialized portfolio that makes us unique, credible, an unbiased service provider in the education industry.
                        We have 2000+ Job Seekers, and 410+ Education Institution registered with us and still counting.<br><br>

                        <b> Mission:</b><br>

                        Penetration in the overall education industry across India by bringing jobs seeker and educational institution on the same platform. FacultyNaukri will be the one-stop platform which will be used by the overall educational industry for all their needs.
                        <br><br>
                        <b>Vision:</b><br>

                        We have one aim to be the Number one service provider in the educational sector across the globe.
                    </p>
                </div>
            </div>
        </div>
    </div>




    <div id="edit-subject-success-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title title">Vacancies has been updated successfully</h4>
                </div>
                <div class="modal-body">
                    <p class="small-title">You have successfully updated the vacancies for the selected subject. Please click on ok to add a subject or edit another subject</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="goToAdminHome()" class="btn btn-primary">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


</div>
