<div id="home-container">

    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        </a>
    </script>

    <div id="home-header">
        <div class="header-background">
            <div class="center-wrapper transparent">
                <div class="header-padding center-child">
                    <div class="col-sm-9">
                        <h1 class="bold text-white">Find the best opportunities to work as a Faculty!</h1><br>
                        <!--<div class="searchbox-holder">
                            <form name="search-form">
                                <div class="search-box flex-container">
                                    <div class='col-sm-4'>
                                        <input type="text" ng-model="skill" placeholder="Skill or Designation" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
                                        <span class="caret caret-position"></span>
                                    </div>
                                    <div class='col-sm-3'>
                                        <input type="text" ng-model="location" placeholder="Location" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
                                        <span class="caret caret-position"></span>
                                    </div>
                                    <div class='col-sm-3'>
                                        <input type="text" ng-model="experience" placeholder="Experience" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
                                        <span class="caret caret-position"></span>
                                    </div>
                                    <div class='col-sm-2'>
                                        <input type="text" ng-model="salary" placeholder="Salary" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
                                        <span class="caret caret-position"></span>
                                    </div>
                                    <div class="submit-container">
                                        <button type="submit" class="btn btn-custom-settings">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>-->
                    </div>
                    <div class="col-sm-3 text-center">
                        <div class="new-usertype-wrapper">
                            <div class="small-title">Register with us</div><br>
                            <div>
                                <a class="btn btn-rounded btn-red full-width btn-custom-settings" href="/jobseeker/new">Jobseeker</a>
                            </div><br>
                            <div>
                                <a class="btn btn-rounded btn-red full-width btn-custom-settings" href="/recruiter/new">Recruiter</a>
                            </div><br>
                            <div>We will create your profile</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div><br><br>

    <div id="requirements-table" class="slide body-wrapper">
        <div class="title text-center">Current Requirements</div>
        <div class="separator-line-thick"></div><br><br>
        <div class="tables-wrapper">
            <div class="col-sm-6">
                <div class="table-responsive tables-shadow-box">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td class="table-type" colspan="2">REQUIREMENTS IN <br>COACHING INSTITUTES</td>
                        </tr>
                        <tr>
                            <th>SUBJECTS</th>
                            <th>VACANCIES</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="sub in subjectsListCoaching" ng-if="sub.subject_type == 1">
                            <td>{{sub.subject_name}}</td>
                            <td>{{sub.subject_vacancies}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="table-responsive tables-shadow-box">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td class="table-type" colspan="2">REQUIREMENTS IN <br>SCHOOLS</td>
                        </tr>
                        <tr>
                            <th>SUBJECTS</th>
                            <th>VACANCIES</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="sub in subjectsListSchool" ng-if="sub.subject_type == 2">
                            <td>{{sub.subject_name}}</td>
                            <td>{{sub.subject_vacancies}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div id="about-us" class="text-white slide-120 aboutus-back">
        <div class="center-wrapper">
            <div class="center-child body-wrapper text-center">
                <div class="display-inilne-block">
                    <div class="title">About Us</div>
                    <div class="separator-line-thick-white"></div>
                </div><br><br>
                <div class="content text-justify">
                    <p>Facultynaukri.com is the most popular Web Online Job Portal which will
                        help you in selecting the most suitable candidate for your Educational
                        institute which will best suit with requirements.It is specially created
                        to meet the requirement of the employers rightly met with ample supply
                        of employees. Any employers who is registered can able to see resumes
                        of subject teachers, special educational teachers, adminstrator, management,
                        marketing, data entry operator, Male Telecallers,Female Telecallers,
                        part time or full time options, so on and so forth. The list is endless.
                        Before referring any employer to the working organization, facultynaukri.com
                        makes sure that the information submitted by the worker is near to facts but
                        still it is advised that both the parties should gathering enough
                        information about each other before starting work. As the company has
                        endless employees registered with them so any requirement of workers can
                        be rightly met with ease. Website has grabbed popularity due to its unmatched
                        and bulk services to both employer and employees sector. Following are the
                        main feature which makes facultynaukri.com highly appreciable by the employers- -
                        An excellent platform for employers and employees. Both of them meet at this
                        point with their respective demands and supply of talents. -The most suitable
                        candidate is placed at the right position and designation. -We does not charge
                        any registration charges from unemployed person however we charge 10 days
                        salary from first month salary of any employee . It is free of cost to job
                        seekers. -As anybody can get registered at the web portal this has made an
                        availability of massive talent pool at the website. Millions of people have
                        seized the job according to their skills and talents.. -Employees are
                        categorized in different categories so that the selection becomes easy
                        and hassle free. This also helps employer to make the right selection
                        according to their requirements. -Different categories are made for different
                        skill sets in order to provide same skills to various people in their choice
                        of city.</p>
                </div>
            </div>
        </div>
    </div>

</div>
