<div class="jobseeker-create-container">
    <div class="shadow-box">
        <uib-tabset active="activeJustified" justified="true">
            <uib-tab class="active" index="0" heading="Personal 1"></uib-tab>
            <uib-tab class="disabled" index="1" heading="Personal 2" disable="true">Short Labeled Justified content</uib-tab>
            <uib-tab class="disabled" index="2" heading="Job Specifics" disable="true">Long Labeled Justified content</uib-tab>
        </uib-tabset><br><br>

        <form novalidate id="jobseeker-form" name="jobSeekerFrom">
            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="j_firstname">First Name</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <input ng-model="jobseeker.jobseeker_firstname" class="form-control" placeholder="First Name" name="j_firstname" type="text" />
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="j_lastname">Last Name</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <input ng-model="jobseeker.jobseeker_lastname" class="form-control"
                               placeholder="Last Name" name="j_lastname" type="text" />
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="j_email">Email</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <input ng-model="jobseeker.jobseeker_email" class="form-control"
                               placeholder="Register with your active email id"
                               name="j_email" type="email" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="j_password">Password</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <input ng-model="jobseeker.jobseeker_password" class="form-control"
                               placeholder="Set this password to generate login credentials"
                               name="j_password" type="password" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="j_password_confirm">Confirm Password</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <input ng-model="jobseeker.jobseeker_password_confirm" class="form-control"
                               placeholder="Re-enter Password"
                               name="j_password_confirm" type="password" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="j_contact">Contact</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <input ng-model="jobseeker.jobseeker_contact" class="form-control"
                               placeholder="Where we can contact you" name="j_contact" type="text" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="j_dob">DOB</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group">
                        <input name="j_dob" type="text" placeholder="Select your Date of Birth" class="form-control" uib-datepicker-popup
                               ng-model="jobseeker.jobseeker_dob" is-open="popup2.opened"
                               datepicker-options="dateOptions" required="true" close-text="Close" />
                      <span class="input-group-btn calender-button">
                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="j_gender">Gender</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group">
                        <div class="btn-group">
                            <label class="radio-inline">
                                <input ng-model="jobseeker.jobseeker_gender" value="1" type="radio" name="j_gender">Male
                            </label>
                            <label class="radio-inline">
                                <input ng-model="jobseeker.jobseeker_gender" value="2" type="radio" name="j_gender">Female
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="j_interest">Interested In</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <!-- Single button -->
                        <select ng-model="jobseeker.jobseeker_interested_in" name="j_interest" class="form-control">
                            <option disabled selected value> -- Choose the field you are interested to teach in -- </option>
                            <option ng-repeat="interest in interestedin" value="{{interest.value}}">
                                {{interest.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="j_state">State</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <!-- Single button -->
                        <select ng-model="jobseeker.jobseeker_state" name="j_state" ng-change="getCitiesForStateId(2)" class="form-control">
                            <option disabled selected value> -- Choose your state -- </option>
                            <option ng-repeat="state in statesList" value="{{state.state_id}}">
                                {{state.state_name}}
                            </option>
                        </select>
                        <!--<select name="j_city" class="form-control" ng-model="placement.selected" ng-options="o as o for o in placement.options"></select>-->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="j_city">City</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <!-- Single button -->
                        <select ng-model="jobseeker.jobseeker_city" name="j_city" class="form-control">
                            <option disabled selected value> -- Choose the city you would like to work in -- </option>
                            <option ng-repeat="city in citiesList" value="{{city.city_id}}">
                                {{city.city_name}}
                            </option>
                        </select>
                        <!--<select name="j_city" class="form-control" ng-model="placement.selected" ng-options="o as o for o in placement.options"></select>-->
                    </div>
                </div>
            </div><br>
            <div class="submit-container">
                <button id="jobseeker-submit" type="submit" class="btn btn-width-70 btn-custom-settings">Register Now</button><br><br>
            </div>
        </form>
    </div><br><br><br>

</div>


<!-- Modal -->
<div id="jobseeker-success-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title title">Thanks for registering with us!</h4>
            </div>
            <div class="modal-body">
                <p class="small-title">You have successfully created an account with us. Please login and complete
                    your profile to find a suitable match.</p>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="goToLogin()" class="btn btn-primary">Go to login</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
