<div>
    <nav class="navbar navbar-background fixed-nav flex-container-center" role="navigation"> <!--fixed-nav-->
        <div class="navbar-header col-sm-4">
            <a class="navbar-brand logo-container" href="/">
                <!--<span><i class="fa fa-foursquare" aria-hidden="true"></i>&nbsp;</span>-->
                <span class="logo"><span><i class="fa fa-foursquare" aria-hidden="true"></i></span>acultyNaukri</span>
                <span class="logo-sub">.com</span>
            </a>
        </div>
        <div class="col-sm-4 collapse padding-top-5 navbar-collapse menu-items" uib-collapse="isNavCollapsed">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/#about-us">About Us</a></li>
                <li><a href="#footer">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-sm-4 sign-in-links">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a  href="/login">
                        <div class="text-center">
                            <div class="small-text">Jobseeker</div>
                            <div>SIGN IN</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/recruiter/new">
                        <div class="text-center">
                            <div class="small-text">Recruiter</div>
                            <div>REGISTER HERE</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="login-container">
        <div class="body-wrapper">
            <div class="login-wrapper">
                <div class="small-title">Already a Member? Sign In</div><br>
                <form id="login-form" name="login-form">

                    <div class="form-group">
                        <div class="input-group-wrapper">
                            <div class="input-group full-width">
                                <input class="form-control" placeholder="Email ID" name="j_email" type="text"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group-wrapper">
                            <div class="input-group full-width">
                                <input class="form-control" placeholder="Password" name="j_password" type="text"/>
                            </div>
                        </div>
                    </div><br>

                    <div class="submit-container">
                        <button type="submit" class="btn btn-red btn-custom-settings">Register Now</button><br><br>
                    </div>

                    <div class="text-center">
                        <a href="#">Forgot Password?</a>
                    </div><br><br>

                    <div class="flex-container-center">
                        <div class="text-left col-sm-7">New User? Sign Up Now</div>
                        <div class="col-sm-5">
                            <a href="/jobseeker/new" type="submit" class="btn btn-custom-settings">Sign Up</a>
                        </div>
                    </div><br>

                </form>
            </div>
        </div>
    </div>
</div>


