<div class="recruiter-create-container">
    <div class="shadow-box">
        <form novalidate id="recruiter-form" name="RecruiterForm">
            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="r_firstname">First Name</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <input ng-model="recruiter.recruiter_firstname" class="form-control" placeholder="First Name" name="r_firstname" type="text" />
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="r_lastname">Last Name</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <input ng-model="recruiter.recruiter_lastname" class="form-control"
                               placeholder="Last Name" name="r_lastname" type="text" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="r_contact">Contact</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <input ng-model="recruiter.recruiter_contact" class="form-control" placeholder="Contact Number"
                               name="r_contact" type="text" />
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="r_email">Email</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <input ng-model="recruiter.recruiter_email" class="form-control"
                               placeholder="Email Address" name="r_email" type="email" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="r_institute_type">Institute Type</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group">
                        <div class="btn-group">
                            <label class="radio-inline">
                                <input ng-model="recruiter.institution_type_id" value="1" type="radio" name="r_institute_type">School
                            </label>
                            <label class="radio-inline">
                                <input ng-model="recruiter.recruiter_institution_type_id" value="2" type="radio" name="r_institute_type">Coaching
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="r_institute">Name of Institution</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <input ng-model="recruiter.institution_name"
                               class="form-control" placeholder="Name of Institution"
                               name="r_institute" type="text" />
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="r_institute_address1">Institute Address 1</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <input ng-model="recruiter.institute_address1" class="form-control"
                               placeholder="Address Line 1" name="r_institute_address1" type="text" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="r_institute_address2">Institute Address 2</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <input ng-model="recruiter.institute_address2" class="form-control"
                               placeholder="Address Line 2" name="r_institute_address2" type="text" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="r_institute_pin">Pincode</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <input ng-model="recruiter.institute_pincode" class="form-control"
                               placeholder="Pincode" name="r_institute_pin" type="text" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="r_city">City</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <!-- Single button -->
                        <select ng-model="recruiter.institution_city_id" name="r_city" class="form-control">
                            <option disabled selected value> -- Choose from the cities -- </option>
                            <option ng-repeat="city in citiesList" value="{{city.city_id}}">
                                {{city.city_name}}
                            </option>
                        </select>
                        <!--<select name="j_city" class="form-control" ng-model="placement.selected" ng-options="o as o for o in placement.options"></select>-->
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="r_requirement">Requirement</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">

                        <multiselect ng-model="recruiter.institution_requirement_ids"
                                     options="interest.name for interest in interestedin"
                                     data-multiple="true"
                                     max-width="100"
                                     tabindex="-1">
                        </multiselect>
                        <!--<select name="j_state" class="form-control" ng-model="placement.selected" ng-options="o as o for o in placement.options"></select>-->
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="r_subject">Subject</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <multiselect ng-model="recruiter.institution_subject_req_ids"
                                     options="subject.subject_id as subject.subject_name for subject in subjectsList"
                                     data-multiple="true"
                                     max-width="100"
                                     tabindex="-1">
                        </multiselect>
                        <!--<select name="j_state" class="form-control" ng-model="placement.selected" ng-options="o as o for o in placement.options"></select>-->
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="label-wrapper col-sm-3">
                    <label class="control-label" for="r_standard">Level Or Standard</label>
                </div>
                <div class="input-group-wrapper col-sm-9">
                    <div class="input-group full-width">
                        <!-- Single button -->
                        <multiselect ng-model="recruiter.institution_req_level"
                                     options="standard.value as standard.name for standard in standards"
                                     data-multiple="true"
                                     max-width="100"
                                     tabindex="-1">
                        </multiselect>
                        <!--<select name="j_state" class="form-control" ng-model="placement.selected" ng-options="o as o for o in placement.options"></select>-->
                    </div>
                </div>
            </div>
            <br>
            <div class="submit-container">
                <button type="submit" class="btn btn-width-70 btn-custom-settings">Register Now</button>
            </div><br><br>
        </form>
    </div><br><br><br><!-- /.container -->
</div>


<!-- Modal -->
<div id="recruiter-success-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title title">Thanks for registering with us!</h4>
            </div>
            <div class="modal-body">
                <p class="small-title">You have successfully created an account with us.</p>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="goToHome()" class="btn btn-primary">Go back to home</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
