<div id="footer" class="footer-back">
    <div class="center-wrapper text-center">
        <div class="center-child body-wrapper">
            <h1 class="text-white title">FOOTER CONTENT HERE</h1>
        </div>
    </div>
</div>
