<div id="footer" class="footer-back">
    <div class="center-wrapper text-center">
        <div class="center-child body-wrapper text-white">
            <div class="display-inilne-block">
                <div class="title">Contact Us</div>
                <div class="separator-line-thick-white"></div>
            </div><br><br>
            <p>Er. Vishal Bhalla</p>
            <p>+917500803666</p>
            <p>12 Kailash Enclave, Kamla Nagar, Agra</p><br><br>
        </div>
    </div>
    <div class="base-text text-center">
        <div class="center-wrapper text-center">
            <div class="center-child body-wrapper text-white">
                <p>facultynaukri.com | All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
