<div id="footer" class="footer-back">
    <div class="center-wrapper text-center">
        <div class="center-child body-wrapper">
            <p class="text-white">facultynaukri.com | All rights reserved.</p>
        </div>
    </div>
</div>
