<nav class="navbar navbar-background fixed-nav flex-container-center" role="navigation"> <!--fixed-nav-->
    <div class="navbar-header col-sm-4">
        <a class="navbar-brand logo-container" href="/">
            <!--<span><i class="fa fa-foursquare" aria-hidden="true"></i>&nbsp;</span>-->
            <span class="logo"><span><i class="fa fa-foursquare" aria-hidden="true"></i></span>acultyNaukri</span>
            <span class="logo-sub">.com</span>
        </a>
    </div>
    <div class="col-sm-4 collapse padding-top-5 navbar-collapse menu-items" uib-collapse="isNavCollapsed">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="#about-us">About Us</a></li>
            <li><a href="#footer">Contact Us</a></li>
        </ul>
    </div>
    <div class="col-sm-4 sign-in-links">
        <ul class="nav navbar-nav pull-right">
            <li>
                <a  href="/login">
                    <div class="text-center">
                        <div class="small-text">Jobseeker</div>
                        <div>SIGN IN</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/recruiter/new">
                    <div class="text-center">
                        <div class="small-text">Recruiter</div>
                        <div>REGISTER HERE</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4 logged-in-links">
        <div class="nav navbar-nav pull-right">
            <div class="text-center">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <img src="images/logged_in_person.png" width="40px">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/jobseeker/edit-profile">Edit Profile</a></li>
                            <li><a><span ng-click="logout()">Logout</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
